.grid-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 41, 41);
}

.map-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 41, 41);
}

.row {
    display: flex;
    /* background-color: red; */
}

.col {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}

.layout {
    width: 1000px;
    height: 70%;
    gap: 40px;
}